<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
</head>
<body>
    <h1>Todo List</h1>
    <div>Add a new todo item: 
        <form action="{{ url_for('add') }}" method="POST">
            <input type="text" name="todoitem">
            <input type="submit" value="Add Item">
        </form>
    </div>
    <div>
        <h2>Incomplete Items</h2>
        <ul>
            {% for todo in incomplete %}
            <li style="font-size: 30pt">{{ todo.text}} {{ todo.started.strftime('%x %X') }}<a href="{{ url_for('complete', id=todo.id) }}">Mark As Complete</a></li>
            {% endfor %}
        </ul>
        <h2>Completed Items</h2>
        <ul>
            {% for todo in complete %}
            <li style="font-size: 30pt">{{ todo.started.strftime('%x %X') }} {{ todo.text }} {{ todo.finished.strftime('%x %X') }}</li>
            <!-- a rather dumb way of displaying this info -->
            <!-- <p>HTML: {{ todo.finished - todo.started }}</p> -->
            <!-- can use hours/minutes, etc. -->
            <p>TIME SPENT: {{ todo.time_spent.seconds }}</p>
            {% endfor %}
        </ul>
    </div>
</body>
</html>